div[class*="vp-doc _co-utils-vue_examples_utils"] img {
    display: initial !important;
}
div[class*="vp-doc _co-utils-vue_examples_utils"] sup {
    border-radius: 9999px;
    border-color: #409eff;
    margin-left: 0.5rem;
    padding: 0 7px;
    height: 20px;
    background-color: #ffffff;
    color: #409eff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    white-space: nowrap;
}